body {
  font-family: Georgia, Times, serif;
  background-color: rgb (133, 199, 158);
  padding: 10px;
  text-align: center;
}

header {
  padding: 10px;
}

h1 {
  color: rgb(0,0,0);
}

td {
  border:1px solid black;
}

th {
  border:1.4px solid black
}

table {
  border:2px solid black;
}

tr {
  background-color: rgb(195, 155, 119);
}

/* Hides the state populations collapsible by default */
.stateContent {
  display: none;
}